# Variables partagées pour le projet Smart City
STORAGE_ACCOUNT_NAME=
STORAGE_ACCOUNT_KEY=
EVENT_HUB_CONNECTION_STRING=

pollution_centre_ville=
pollution_zone_industrielle=
pollution_residentiel=
pollution_peripherie=
traffic_centre_ville=
traffic_zone_industrielle=
traffic_residentiel=
traffic_peripherie=
lighting_centre_ville=
lighting_zone_industrielle=
lighting_residentiel=
lighting_peripherie=
waste_centre_ville=
waste_zone_industrielle=
waste_residentiel=
waste_peripherie=